body{
	background: #ede7f6;
}

.card{
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	border-radius: 0px;
	border: none;
}

.card-header{
	background: #0ff;
	color: #041222;
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #ddd;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.card-header:first-child{
	border-radius: 0px;
}
.card-header:second-child{
	border-radius: 0px;
}

.btn{
	border-radius: 0px;
	padding-left: 30px;
	padding-right: 30px;
}

input, select, textarea, .form-control{
	border-radius: 0px;
	margin-bottom: 5px;
}